@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Quicksand', sans-serif;

}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
/*p text */
.p-text{
    color: #a940b5;
}
/*h start*/
header{
    height: 100vh;
    background: url("./image/aa.jpg") center center/cover no-repeat;
    position: relative;
}
#navbar a{
    text-decoration: none;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(113, 39, 113, 0.857);
    width: 100%;
    position: fixed;
}
#navbar img {
    width: 60px;
    margin-left: 100px;
}
#navbar ul{
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 15px 20px;
    color: wheat;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #bb73c5;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 75%;
}
.content h1{
    font-size: 40px;

}
.content p{
    margin: 20px 0 40px ;
    font-size: 20px;
}

#about{
   height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about h2{
    font-size: 40px;
    color: rgb(96, 45, 143);
    margin-bottom:20px ;
}


/****product*/
#products{
   height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./image/h.jpg)  center/cover no-repeat fixed;
    margin-bottom: 62px;
}
.head{
    text-align: center;
    margin-bottom: 2em;
}
#products h2{
    font-size: 25px;
    color: rgb(17, 13, 21);
    margin-bottom:40px ;

}
.instrat{
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}


